 <div class="form-content" id="forgotPasswordForm">
                <h2 class="form-title">Mot de Passe Oublié</h2>
                <p class="form-subtitle">Entrez votre email pour recevoir un code de réinitialisation.</p>
                <form [formGroup]="AuthForm">
                    <div class="form-floating mb-3"><input type="email" class="form-control"formControlName="email" [class.error-msg]="
                        email?.invalid &&
                        (email?.dirty ||
                        email?.touched)"   placeholder="name@example.com" ><label for="forgotEmail">Adresse Email</label></div>
                    <button type="submit" class="btn-submit  w-100 ws-100" (click)='onSubmit()'>Envoyer le Code</button>
                </form>
                <p class="back-link" [routerLink]="['/auth/login']">← Retour à la connexion</p>
            </div>