<div class="modal-content">
    <div class="modal-header p-0">
      <button type="button" class="close" data-dismiss="modal"><i class="icon-close"></i></button>
    </div>
<div id="RecoverPasswordForm" class="hide">
  <h3>réinitialisez votre mot de passe</h3>
  <p class="mb-4">Nous vous enverrons un e-mail pour réinitialiser votre mot de passe.</p>
  <div class="form-vertical"><form method="post" action="/account/recover" accept-charset="UTF-8" data-cptcha="true" data-hcaptcha-bound="true"><input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">
<div class="form-group mb-4">
      <input class="form-control" type="email" value="" name="email" id="RecoverEmail" placeholder="E-mail" autocorrect="off" autocapitalize="off">
      <label for="RecoverEmail" class="label--hidden">E-mail</label>
  </div>
    <p>
      <button type="submit" class="btn btn-theme gradient-theme w-100">Soumettre</button>
    </p>
    <button type="button" id="HideRecoverPasswordLink" class="text-link link-accent-color">Retour connexion</button><div class="h-captcha" data-sitekey="f06e6c50-85a8-45c8-87d0-21a2b65856fe" data-size="invisible"><iframe aria-hidden="true" data-hcaptcha-widget-id="0v0fg5xi6r0e" data-hcaptcha-response="" src="https://newassets.hcaptcha.com/captcha/v1/12fb7a88301a822e761364a12760ec21a07078ac/static/hcaptcha.html#frame=checkbox-invisible" style="display: none;"></iframe><textarea id="h-captcha-response-0v0fg5xi6r0e" name="h-captcha-response" style="display: none;"></textarea></div></form></div>
</div>


