<div class="main-container">
  <!-- === PANNEAU DE CHOIX (PORTAIL) === -->
  <div class="choice-panel" id="choicePanel">
    <h1>Bienvenue !</h1>
    <p>
    Ravis de vous revoir. Accédez à vos outils MedicareAI en toute confidentialité. 
    </p>
    <div class="choice-buttons">
     
      <button class="btn-choice" [class.active]="isActive('/auth/store/register')" [routerLink]="['/auth/store/register']" >
        <img src="icons/shop-.svg" class="icons-blue" [class.active]="isActive('/auth/store/register')" alt="" srcset="">
      Je suis un Patient
      </button>
      <button class="btn-choice"  [class.active]="isActive('/auth/login')"  [routerLink]="['/auth/login']" >
          <img src="icons/login.svg"  class="icons-blue" [class.active]="isActive('/auth/login')" alt="" srcset="">
         Se Connecter
      </button>
    </div>
  </div>

  <!-- === PANNEAU DES FORMULAIRES === -->
  <div class="form-panel">
      <router-outlet /> 
  </div>
</div>
