<div class="card h-100 border-0 radius-10 p-3" >
  <div class="d-flex justify-content-between align-items-center mb-3">
    <span class="title-chart " >{{ title }}</span>

  </div>

  <div class="position-relative" style="height: 250px;">
    @if(data && data.length > 0) {
      <canvas baseChart [data]="donutChartData"
      [type]="donutChartConfig.type"
                                        [options]="donutChartConfig.options"></canvas>
    } @else {
      <div class="h-100 d-flex align-items-center justify-content-center">
        <p class="text-muted">NO_DATA</p>
      </div>
    }
  </div>

  <div class="d-flex justify-content-around mt-4 pt-3 border-top">
    @for(val of data; track $index) {
      <div class="d-flex align-items-center gap-2">
        <span [style.background-color]="colors[$index]" style="width: 12px; height: 12px; border-radius: 50%; opacity: 0.5;"></span>
        <span style="font-weight: 600; font-size: 16px;">{{ val }}</span>
      </div>
    }
  </div>
</div>