<div class="form-content" id="codeValidationForm">
                <h2 class="form-title">Valider le Code</h2>
                <p class="form-subtitle">Nous avons envoyé un code à 6 chiffres à votre adresse email.</p>
                <form>
                    <div class="code-inputs">
                        <input type="text" maxlength="1" class="form-control code-digit">
                        <input type="text" maxlength="1" class="form-control code-digit">
                        <input type="text" maxlength="1" class="form-control code-digit">
                        <input type="text" maxlength="1" class="form-control code-digit">
                        <input type="text" maxlength="1" class="form-control code-digit">
                        <input type="text" maxlength="1" class="form-control code-digit">
                    </div>
                    <button type="submit" class="btn-submit  w-100 ws-100">Valider</button>
                </form>
                <p class="back-link" id="backToChoiceFromCode">← Retour au choix</p>
            </div>