<div class="form-content" id="storeRegisterForm">
  <h2 class="form-title">Demande d'Ouverture</h2>
  <p class="form-subtitle">Commencez à vendre en quelques clics.</p>
  <form>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="storeName"
        placeholder="Nom de la boutique"
 formControlName="name" [class.error-msg]="
              name?.invalid && (name?.dirty || name?.touched)"
      /><label for="storeName">Nom de la Boutique</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="storeEmail"
        placeholder="email@boutique.com"
       formControlName="username" [class.error-msg]="
              username?.invalid && (username?.dirty || username?.touched)"
      /><label for="storeEmail">Email Professionnel</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="storePassword"
        placeholder="Password"
         formControlName="password" [class.error-msg]="
              password?.invalid && (password?.dirty || password?.touched)"
      /><label for="storePassword">Mot de passe</label>
    </div>
    <button type="submit" (click)="save()" class="btn-submit w-100 ws-100">
      Envoyer la Demande
    </button>
  </form>
  <!-- <p class="back-link" id="backToChoiceFromStore">← Retour au choix</p> -->
</div>
