/* formulaire  style */

        
  .form-title { font-size: 2.2rem; font-weight: 700; color: #2c2c54; margin-bottom: 10px; }
.form-subtitle { color: #777; margin-bottom: 30px; }

    .back-link {
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
            color: var(--color-principal);
            font-weight: 600;
        }
        .back-link:hover { text-decoration: underline; }
        
        .text-link {
            color: var(--color-principal);
            text-decoration: none;
            font-weight: 600;
            cursor: pointer;
        }
        .text-link:hover { text-decoration: underline; } 