

.input-container-search {
  padding: 5px;
  font-size: 12px;
}

.show {
  width: auto;
}

.input-container-search input,
.input-container-search select {
  flex: 1;
  margin-right: 10px;
  border: none;
  padding: 5px;
  background: none !important;
}

.input-container-search input {
  flex: 3;
}

.input-container-search select {
  flex: 1;
  border-left: 1px solid #A3AED0;
  color: #A3AED0 !important;
}

.input-container-search select:focus,
.input-container-search input:focus {
  outline: none;
  border: none;
}

.input-container-search input:last-child {
  margin-right: 0;
} 
@media (max-width: 768px) { 
    .search-input-s{
  width: 100px !important;

}}